@import "tailwindcss";

:root {
  --color-yellow-700: #e5961e;
  --color-yellow-200: #fff2de;

  --color-gray-900: #1a1717;
  --color-gray-700: #403e3d;
  --color-gray-600: #504d4c;
  --color-gray-300: #d7d2cf;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fafafa;
  }
}

@layer base {
  body {
    font-family: var(--font-inter), sans-serif;
  }
}
